/* Navbar */
.nav-custom{
    background-color: rgba(0, 0, 0, 0.295);
}
.nav-custom a{
    color: white !important;
}
.navbar-nav a{
    font-weight: bold;
}
.navbar-toggler-icon {
    filter: invert(1);
}
.navbar-toggler{
    border: unset;
}

/* None */
.desktop-none{
    display: none;
}

/* Universal */
.btn-edens{
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #F1C944CC;
    color: white;
}
.btn-edens:hover{
    background-color: #806718cc;
}

.btn-submit{
    padding: 6px 12px;
    border-radius: 0;
    background-color: #F3C300;
    color: white;
}

.btn-submit:hover{
    background-color: #a78602;
}

.fz-20px{
    font-size: 20px;
}

.carousel-indicators .active{
    width: 25px !important;
    border-radius: 8px !important;
    background: linear-gradient(90deg, rgba(243,126,0,1) 0%, rgba(243,195,0,1) 55%, rgba(243,224,0,1) 100%) !important;
}

.active-{
  background: linear-gradient(90deg, rgba(243,126,0,1) 0%, rgba(243,195,0,1) 55%, rgba(243,224,0,1) 100%) !important;
  width: 25px !important;
  border-radius: 6px !important;
}
.current-page{
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(218, 218, 218);
  transition: 0.3s ease width;
}
.fa-arrow-left{
  color: rgb(218, 218, 218);
  font-size: 24px;
}
.fa-arrow-right{
    color: rgb(218, 218, 218);
  font-size: 24px;
}

.mt-3px{
    margin-top: 3px;
}

/* Section 1 - Home */
/* Background */
#bg-section-1 {
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.png);
    background-size: cover;
    background-color: black;
  }

/* Carousel */
.carousel-indicators li{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
}
.carousel-indicators .active{
    background-color: black;
}
.box-section1{
    width: max-content;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 12px;
    color: white;
}
.wt-section1{
    width: 550px;
}
/* End Section 1 */

/* Section 2 - Home */
/* Background */
#section-2{
    padding-top: 50px;
    background-color: black;
}
#bg-section-2 {
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg-section-2.png);
    background-size: cover;
  }

  .box-section2{
    width: 100%;
    padding: 100px 20px;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 12px;
    color: white;
}
/* End Section 2 */

/* Section 3 - Home */
/* Background */
    #section-3 {
    padding: 50px 0px;
    background-color: black;
    color: white;
  }
  .card-section{
    display: flex;
    align-items: center;
  }
  .card-section:hover{
    cursor: pointer;
  }
  .wrapper-img1{
    border-radius: 12px;
    width: 100%;
    overflow: hidden;
    }
    .expertise-img{
        object-fit: cover;
        width: 100%;
        height: 300px;
        transition: 0.3s;
    }
    .expertise-img:hover {
        transform: scale(1.1);
    }
  .card-section img{
    opacity: 0.8;
  }
  .absolute-center{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
/* End Section 3 */

/* Section 4 - Home */
/* Background */
#section-4{
    padding: 50px 0px;
    background-color: black;
    color: white;
}
/* Splide Sec 4 */
.splide__pagination__page.is-active{
    transform: unset;
}
.splide__pagination__page{
    height: 30px;
    width: 8px;
    border-radius: 8px;
}
/* End Section 4 */

/* Section 5 - Home */
/* Background */
#section-5{
    padding: 50px 0px;
    background-color: black;
    color: white;
}
.card-section5 {
  background-image: url("/img/human.png");
  object-fit: cover;
  align-items: center;
  display: flex;
  width: 300px;
  height: 380px;
  justify-content: center;
  background-repeat: no-repeat;
  margin-left: 75px;
  border-radius: 8px;
}
.text-card {
    width: 280px;
    height: max-content;
    color: black;
    background-color: white;
    transform: translate(16rem);
    padding: 3rem 2rem;
    border-radius: 8px;
  }
@media (max-width: 1320px) {
    .card-section5{
        margin-left: 0;
    }
}
@media (max-width: 1200px) {
    .card-section5{
        margin-left: auto;
        margin-right: auto;
    }
    .text-card{
        opacity: 0;
        background: rgba(255, 255, 255, 0.8);
        transform: translate(0);
        transition: all 0.3s ease;
    }
    .text-card:hover{
        opacity: 1;
        background: rgba(255, 255, 255, 0.8);
        transform: translate(0);
    }
}
.title-color{
    color: #C39296;
}
/* End Section 5 */

/* Section 6 - Home */
/* Background */
#section-6{
    padding: 50px 0px;
    background-color: black;
    color: white;
}
.card-head-section6{
    background-color: #F2F5F7;
    padding: 60px;
    border-radius: 8px;
}
.card-section6{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border-radius: 8px;
}
/* End Section 6 */

/* Ex Style */
.gap-1{
    gap: 14px;
}
.gap-2{
    gap: 50px;
}
.d-flex-none{
    display: flex;
}

/* Footer */
.page-footer{
    background-color: black;
    color: white;
}
.page-footer a{
    color: white;
}
.box-social a{
    padding: 4px 8px;
    background-color: black;
    border-radius: 50%;
}
.box-social .loc{
    padding: 4px 10px;
}
.box-social .ytb{
    padding: 4px 7px;
}
.box-social{
    background-color: white;
    padding: 6px 24px;
    border-radius: 4px;
    width: max-content;
}
.medsos-ig{
    margin-top: 2px;
}
.medsos-ig i{
    font-size: 22px;
}
.medsos-loc{
    margin-top: 2px;
}
.medsos-loc i{
    font-size: 20px;
}
.medsos-twit{
    margin-top: 2px;
}
.medsos-twit i{
    font-size: 20px;
}
.medsos-ytb{
    margin-top: 2px;
}
.medsos-ytb i{
    font-size: 18px;
}

/* Service & Product */
/* Section 1 */
#ser-section-1{
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-pills .nav-link{
    color: black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #F8F8F8;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
}

.ser-card-section1{
    background-color: #F6F6F6;
    padding: 2rem;
    border-radius: 8px;
}
.ser-card-section1 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

/* Section 2 */
#ser-section-2{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Contact US */
/* Section 1 */
#cont-section-1{
    padding-top: 100px;
    padding-bottom: 100px;
}
#cont-section-1 img{
    width: 60px;
    filter: invert(72%) sepia(62%) saturate(2242%) hue-rotate(7deg) brightness(100%) contrast(108%);
}
.br1{
    border-right: 0.5px dashed #F3C300;
}
.br2{
    border: 1px solid #F3C300;
    width: 60px;
}
.color-secondary{
    color: #888897;
}

/* Section 2 */
#cont-section-2{
    padding-bottom: 50px;
}

.google-maps{
    width: 100%;
    height: 100%;
}

/* News */
/* Section 1 */
#news-section-1{
    color: white;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/img/news/news1.jpg");
    background-size: cover;
    width: 100%;
}
.nav-news .nav-link.active, .nav-news .show>.nav-link
{
    padding: 6px 24px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(243,126,0,1) 0%, rgba(243,195,0,1) 55%, rgba(243,224,0,1) 100%);
    border: 0;
    color: white;
}

.nav-news .nav-link{
    padding: 4px 24px;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
}

.wrapper-img{
    overflow: hidden;
}
.news-img{
    object-fit: cover;
    width: 100%;
    height: 220px;
    transition: 0.3s;
    border-radius: 8px;
}
.news-img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
/* Tablet */
@media (max-width: 992px) {
    .desktop-none{
        display: block;
    }
    .google-maps{
        height: 400px;
    }
    .box-section1{
        width: 100%;
    }
    .wt-section1{
        width: 100%;
    }
    .d-flex-none{
        display: block !important;
    }
    .text-center-mobile{
        text-align: center;
    }
    .gap-2{
        gap: 0px;
    }
    .nav-custom{
        background-color: black;
    }
    .splide__pagination{
        bottom: 50px;
    }
    .splide__pagination__page{
        height: 8px;
    }
    #bg-section-2 {
    height: max-content;
    }
}

/* Mobile */
@media (max-width: 482px) {
    .card-section{
        height: max-content;
    }
}


/* Container XL */
@media (min-width: 576px){
    .container-xl {
        max-width: 540px;
    }
    }
  
    @media (min-width: 768px){
        .container-xl {
            max-width: 720px;
        }
        }
    
  
  @media (min-width: 992px){
  .container-xl {
    max-width: 960px;
  }
  }
  
  @media (min-width: 1200px){
    .container-xl {
        max-width: 1440px;
        }
    }
  
  .container-xl {
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .bold{
    font-weight: bold;
  }

  .splide__slide img {
    width: 100%;
    height: auto;
  }

  .no-decoration{
    color: unset;
  }
  .no-decoration:hover{
    color: unset;
    text-decoration: unset;
    cursor: pointer;
  }

  .modal-lg {
    max-width: 100%;
    margin: 15px;
  }